<html>
<head>
<script
	type = "text/javascript" 
    src = "{{ url_for('static', filename = 'script.js') }}"
></script>
</head>
   <body> 
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<ul>
	{% for message in messages %}
	<li>{{ message }}</li>
	{% endfor %}
	</ul>
	{% endif %}
	{% endwith %}
    <input type = "button" onclick = "sayHello()" value = "Say Hello" />
      <form action = "/login" method = "post">
         <p>Enter Name:</p>
         <p><input type = "text" name = "nm" /></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>
   </body>
</html>